In [30]:
def max_lists(list1, list2):
    '''Compares the elements of list1, and list2 (assumed to be the same
    length),and returns the maximum value between the two, for each element.

    FOR FULL POINTS DON'T USE IMPORTS.

    Parameters
    ----------
    list1, list2: list, list
        (Of the same length)

    Returns
    -------
    list
    '''
        
    return [max(elem1, elem2) for elem1, elem2 in zip(list1, list2)]

In [31]:
list1 = [1,4,7,10,2,5]
list2 = [3,8,9,2,5,1]
print(max_lists(list1,list2))

[3, 8, 9, 10, 5, 5]

In [52]:
def invert_dictionary(d):
    '''
    Given a dictionary d, return a new dictionary with d's values
    as keys and the value for a given key being
    the set of d's keys which shared the same value.

    Parameters
    ----------
    d: dict

    Returns
    -------
    dict
        A dictionary of sets of input keys indexing the same input values
        indexed by the input values.


    >>>invert_dictionary({'a': 2, 'b': 4, 'c': 2})
    {2: {'a', 'c'}, 4: {'b'}}
    '''
    flipped_d = {}
    
    for key, value in d.items():
        if value not in flipped_d:
            flipped_d[value] = set()
        flipped_d[value].add(key)
            
    return flipped_d

In [53]:
invert_dictionary({'a': 2, 'b': 4, 'c': 2})

{2: {'a', 'c'}, 4: {'b'}}

In [3]:
def matrix_multiplication(A, B):
    '''Return the matrix which is the product of matrix A and matrix B
    where A and B will be (a) integer valued (b) square matrices
    (c) of size n-by-n (d) encoded as lists of lists,  e.g.
    A = [[2, 3, 4], [6, 4, 2], [-1, 2, 0]] corresponds to the matrix
    | 2  3  4 |
    | 6  4  2 |
    |-1  2  0 |

    YOU MAY NOT USE NUMPY. Write your solution in straight python.

    Parameters
    ----------
    a, b: list of lists of integers, list of lists integers
        All inner/outer lists are of length n, so as to construct square
        matrices.

    Returns
    -------
    list of lists of integers
        The product of a matrix multiplication operation.
    '''
    output_matrix = [[0 for row in range(len(A))] for col in range(len(B[0]))]
    
    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(B)):
                output_matrix[i][j] += A[i][j] * B[k][j]
    
    return output_matrix

In [6]:
A = [[1,2,3],
    [4,5,6],
    [7,8,9]]

B = [[1,2,3],
    [4,5,6],
    [7,8,9,]]

matrix_multiplication(A,B)

[[12, 30, 54], [48, 75, 108], [84, 120, 162]]

In [9]:
def reverse_index(arr, finRow, finCol):
    '''
    Reverse the row order of "arr" (i.e. so the top row is on the bottom)
    and return the sub-matrix from coordinate [0, 0] up to
    (but not including) [finRow, finCol].

    Hint: this can use two steps of slicing, which can be combined into
    a one-liner.

    FOR FULL POINTS DON'T USE LOOPS OR LIST COMPREHENSIONS.

    Parameters
    ----------
    arr: NumPy array
    finRow, finCol: int, int


    Returns
    -------
    NumPy array    
      Of an "upside down" subset of arr

    >>>arr = np.array([[ -4,  -3,  11],
                       [ 14,   2, -11],
                       [-17,  10,   3]])
    >>>reverse_index(arr, 2, 2)
    array([[-17, 10],
           [ 14,  2]])
    '''
    
    reversed_arr = arr[::-1]
    
    manipulated_arr = reversed_arr[:finRow, :finCol]
    
    return manipulated_arr

In [12]:
arr = [[ -4,  -3,  11],
       [ 14,   2, -11],
       [-17,  10,   3]]

finRow = 2
finCol = 2
reverse_index(arr, finRow, finCol)

In [63]:
import numpy as np

def array_work(rows, cols, scalar, matrixA):
    '''
    Create matrix of size (rows, cols) with elements initialized to the
    scalar value. Right multiply that matrix with the passed matrixA
    (i.e. AB, not BA).  Return the result of the multiplication.  You
    needn't check for matrix compatibility, but you can accomplish this in
    a single line.

    Parameters
    ----------
    rows, cols: int, int
        Size of matrix to be created
    scalar: int
        Value of each element of new matrix
    matrixA:

    Returns
    -------
    NumPy array
        Result of matrix product of row-by-col matrix of "scalar"'s times
        matrixA.

    E.g., array_work(2, 3, 5, [[3, 4], [5, 6], [7, 8]])
           [[3, 4],      [[5, 5, 5],
            [5, 6],   *   [5, 5, 5]]
            [7, 8]]
    '''
    
    new_arr = np.full((rows,cols),scalar)
    
    multiplied_arr = np.dot(matrixA, new_arr)

    return multiplied_arr

In [66]:
array_work(2, 3, 5, [[3, 4], [5, 6], [7, 8]])

array([[35, 35, 35],
       [55, 55, 55],
       [75, 75, 75]])

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('rent.csv')

In [10]:
df.head()

        Neighborhood         City State  med_2011  med_2014
0   Northeast Dallas       Dallas    TX     825.0     985.0
1           Paradise    Las Vegas    NV     900.0    1100.0
2           Maryvale      Phoenix    AZ     795.0     850.0
3    Upper West Side     New York    NY    2795.0    3300.0
4  South Los Angeles  Los Angeles    CA    1150.0    1400.0

In [11]:
def pandas_add_increase_column(df):
    '''Adds a column to the DataFrame called 'Increase' which contains the
    amount that the median rent increased by from 2011 to 2014.

    Parameters
    ----------
    df: Pandas DataFrame

    Returns
    -------
    None
    '''
    
    df["Increase"] = df["med_2014"] - df["med_2011"]
    
    return None

In [7]:
def pandas_max_rent(df):
    '''Returns a new pandas DataFrame that contains every city and the highest
    median rent from that city for 2011 and 2014.

    Note that city names are not unique so the state is tracked as well.
    For example, Portland, ME and Portland, OR are recognized as different.

    Parameters
    ----------
    df: Pandas DataFrame

    Returns
    -------
    Pandas DataFrame:
        Containing the columns: City, State, med_2011, med_2014
    '''
    new_df = df[["City","State", "med_2011", "med_2014"]].groupby(["City","State"]).max()
    
    
    return new_df

a) Please give an example of a mutable and immutable data type. (2 pts)

b) What will be displayed when b is printed in the code below? (1 pt)

In[1] a = [1, 'a', [2, 3], 4.5]

In[2] b = a

In[3] a[0] = -0.1

In[4] print(b)

a) mutable - lists
   immutable - tuples
  
b) b = [-0.1, 'a', [2,3], 3, 5]

a) What is Git, and why do software developers use it? (1 pt)

b) What is the 'staging area', or 'index' in git? (1 pt)

c) What does the command 'git commit' do? (1 pt)

a) Git is a tool used for developing code individually or as a team. It provides an easy way to transfer code from a local machine to a collaborative space and back again.

b) The staging area or index is the area code lies in prior to being committed. 

c) 'git commit' allows you to comment on what changes were made so that you are able to see what changed in your repository. It also moves the code from the staging area to a form for it to be pushed to github.